.h1 {
    color: red;
    margin-bottom: 0;
    font-size: 60px;
    line-height: 65px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div  {
    line-height: 1.2;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

blockquote {
    margin: 1rem;
    background-color: black;
}

